
body {
  font-family: Arial;
  background-color: rgb(242, 242, 242);
}

#main-title {
  color: rgb(155, 155, 225);
  text-align: center;
}

p {
  color: black;
  font-size: 16px;
}

.highlight {
  color: rgb(102, 93, 169);
}

h3 {
  color: rgb(251, 149, 234);
}

li {
  color: purple;
}

/* hình ảnh */
img {
  width: 200px;
}
